<?xml version="1.0"?>
<launch>
    <arg name="model" default="$(find launch_config)/urdf/mallard_main_003_REAL.xacro"/>

    <node pkg="control_nodes" type="cmd2mav.py" name="Cmd2mav" output="screen"/>
    
    <include file="$(find taarn_mallard_onboard)/launch/include/mavros.launch"/>
    
    <group ns="mallard">
        <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>

        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
        <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"/>
    </group>
    
</launch>
