<?xml version="1.0"?>
<launch>
    <include file="$(find taarn_mallard_onboard)/launch/include/mavros.launch"/>

    <include file="$(find taarn_mallard_onboard)/launch/include/mallard.launch" />

    <!-- <include file="$(find taarn_mallard_onboard)/launch/include/apriltag.launch" />

    <include file="$(find taarn_mallard_onboard)/launch/include/virtual_tether.launch" /> -->
</launch>
